In [2]:
series = {
    'index':[0,1,2,3],
    'data':[145,142,38,12],
    'name':'songs'
}

In [3]:
def get(series, idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

get(series, 1)

142

In [4]:
print(series['name'])

songs

In [5]:
songs = {
    'index':['Paul', 'John', 'George','Ringo'],
    'data':[145,142,38,13],
    'name':'counts'
}

In [6]:
get(songs, 'John')

142

In [7]:
import pandas as pd
songs2 = pd.Series([145,142,38,13],
                   name='counts')

In [8]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [9]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
songs3 = pd.Series([145,142,38,13],
                  name='counts',
                  index=['Paul', 'John', 'George','Ringo'])

In [11]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [12]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [13]:
class Foo:
    pass

ringo = pd.Series(
    ['Richard','Starkey', 13, Foo()],
    name='ringo')

ringo

0                                    Richard
1                                    Starkey
2                                         13
3    <__main__.Foo object at 0x7fede1d77550>
Name: ringo, dtype: object

In [14]:
import numpy as np

nan_series = pd.Series([2, np.nan],
                      index=['Ono', 'Clapton'])

nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [15]:
nan_series.count()

1

In [16]:
nan_series.size

2

In [20]:
nan_series2 = pd.Series([2, None],
                       index=['Ono', 'Clapton'],
                       dtype='Int64')

In [22]:
nan_series2.count()

1

In [23]:
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [24]:
nan_series.astype('Int64')

Ono           2
Clapton    <NA>
dtype: Int64

In [25]:
numpy_ser = np.array([145,142,38,13])

In [26]:
songs3[1]

142

In [27]:
numpy_ser[1]

142

In [28]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [29]:
songs3 > songs3.median()

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [30]:
songs3[songs3 > songs3.median()]

Paul    145
John    142
Name: counts, dtype: int64

In [31]:
songs3.mean()

84.5

In [33]:
numpy_ser.mean()

84.5

In [36]:
mask = songs3 > songs3.median()  # boolean array

In [37]:
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [38]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [41]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])