In [2]:
series = {
    'index':[0,1,2,3],
    'data':[145,142,38,12],
    'name':'songs'
}

In [3]:
def get(series, idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

get(series, 1)

142

In [4]:
print(series['name'])

songs

In [5]:
songs = {
    'index':['Paul', 'John', 'George','Ringo'],
    'data':[145,142,38,13],
    'name':'counts'
}

In [6]:
get(songs, 'John')

142

In [7]:
import pandas as pd
songs2 = pd.Series([145,142,38,13],
                   name='counts')

In [8]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [9]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
songs3 = pd.Series([145,142,38,13],
                  name='counts',
                  index=['Paul', 'John', 'George','Ringo'])

In [11]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [12]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [13]:
class Foo:
    pass

ringo = pd.Series(
    ['Richard','Starkey', 13, Foo()],
    name='ringo')

ringo

0                                    Richard
1                                    Starkey
2                                         13
3    <__main__.Foo object at 0x7fede1d77550>
Name: ringo, dtype: object

In [14]:
import numpy as np

nan_series = pd.Series([2, np.nan],
                      index=['Ono', 'Clapton'])

nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [15]:
nan_series.count()

1

In [16]:
nan_series.size

2

In [20]:
nan_series2 = pd.Series([2, None],
                       index=['Ono', 'Clapton'],
                       dtype='Int64')

In [22]:
nan_series2.count()

1

In [23]:
nan_series2

Ono           2
Clapton    <NA>
dtype: Int64

In [24]:
nan_series.astype('Int64')

Ono           2
Clapton    <NA>
dtype: Int64

In [25]:
numpy_ser = np.array([145,142,38,13])

In [26]:
songs3[1]

142

In [27]:
numpy_ser[1]

142

In [28]:
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

In [29]:
songs3 > songs3.median()

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [30]:
songs3[songs3 > songs3.median()]

Paul    145
John    142
Name: counts, dtype: int64

In [31]:
songs3.mean()

84.5

In [33]:
numpy_ser.mean()

84.5

In [36]:
mask = songs3 > songs3.median()  # boolean array

In [37]:
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool

In [38]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [41]:
numpy_ser[numpy_ser > np.median(numpy_ser)]

array([145, 142])

In [42]:
s = pd.Series(['m','l','xs','s','xl'], dtype='category')

In [43]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']

In [44]:
s.cat.ordered

False

In [50]:
s2 = pd.Series(['m', 'l', 'xs', 's', 'xl'])
size_type = pd.api.types.CategoricalDtype(categories=['s', 'm','l'], ordered=True)
s3 = s2.astype(size_type)

In [51]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [52]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [54]:
s3[s3 > 's']

0    m
1    l
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [55]:
s.cat.reorder_categories(['xs','s', 'm', 'l', 'xl'], ordered=True)

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [58]:
last_7_days = pd.Series([34,41,45,39,37,39,41],
               index=['Dec 31', 'Jan 01', 'Jan 02', 'Jan 03', 'Jan 04', 'Jan 05', 'Jan 06'],
               name='temperature')

In [59]:
last_7_days

Dec 31    34
Jan 01    41
Jan 02    45
Jan 03    39
Jan 04    37
Jan 05    39
Jan 06    41
Name: temperature, dtype: int64

In [60]:
last_7_days.mean()

39.42857142857143

In [61]:
last_7_days > last_7_days.mean()

Dec 31    False
Jan 01     True
Jan 02     True
Jan 03    False
Jan 04    False
Jan 05    False
Jan 06     True
Name: temperature, dtype: bool

In [62]:
last_7_days[last_7_days > last_7_days.mean()]

Jan 01    41
Jan 02    45
Jan 06    41
Name: temperature, dtype: int64

In [66]:
colors = pd.Series(['red', 'green', 'orange', 'black'], dtype='category')

In [67]:
colors

0       red
1     green
2    orange
3     black
dtype: category
Categories (4, object): ['black', 'green', 'orange', 'red']